*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Nunito Sans", sans-serif, MBCorpo Text, DaimlerCS-Regular, Helvetica, Arial, sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    max-width: 1920px;
    margin: 0px auto;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    background-color: #F29406;
    top: 0;
    left: 0;
    width: 100%;
}
.header_container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    padding: 7px 7px;
}

.header__logo img {
    width: 70px;
    border-radius: 30px;
}
.header__search input{
    width: 25rem;
    height: 40px;
    border-radius: 30px;
    padding-left: 15px;
}

/*  */
.card h3{
    text-align: center;
    font-weight: 500;
    margin: 18px 0;
}
.tr{
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    margin-top: 20px;
}
.item_img{
    width: 100%;
    padding-left: 10rem;
}
.item_img a img{
    width: 120px;
    height: 120px;
}
.item_img a{
    text-decoration: none;
    color: black;
}
.status_item{
    margin: 40px;
}
.status_item i{
    color: green;
}
.status_item .btn{
    margin-left: 15px;
}